<header class="bg-blue-600 text-white p-4">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold">Wacdo Manager</h1>
    <nav>
      <a class="mr-4" routerLink="/">Accueil</a>
      @if (isAuthenticated()) {
        <a class="mr-4" routerLink="/login">Connexion</a>
      } @else {
        <a class="mr-4" routerLink="/collaborateurs">Collaborateurs</a>
        <a class="mr-4" routerLink="/restaurants">Restaurants</a>
        <a class="mr-4" routerLink="/postes">Postes</a>
        <a class="mr-4" routerLink="/affectations">Affectations</a>
        <button class="underline">Déconnexion</button>
      }
    </nav>
  </div>
</header>